.document-type-container {
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
    margin: 50px 0px 20px 0px;
    padding: 20px 30px;
    border-radius: 5px;
}
.upload-document-container {
    text-align: center;
    padding: 20px;
    border: 2px #73bf45 dashed;
    background: #73bf452e;
    margin-bottom: 10px;
}
.uploaded-container ul li {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
}
