.document-type-container {
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
    margin: 50px 0px 20px 0px;
    padding: 20px 30px;
    border-radius: 5px;
}
.form-check-container{
  border: 1px solid #73bf45;
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
  .check-box-section{
    display: flex;
    flex-wrap: wrap;
  }
  .document-type-container-title{
    margin-bottom: 10px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
  }
  .form-check-label{
    padding-left: 5px;
    cursor: pointer;
  }
  .form-check-input:checked {
    background-color: #73bf45 !important;
    border-color: #73bf45 !important;
  }